/* ==============================
   CONTACT SECTION
============================== */
#contact {
  padding: 60px 20px;
  text-align: center;
  border-radius: 25px;
  border: 5px outset #b58558;
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
}
